---
import type { GetStaticPaths } from "astro";
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "@/layouts/default.astro";
import { Image } from "astro:assets";

export const getStaticPaths = (async () => {
	const pages = await getCollection("pages");

	return pages.map((page) => ({
		params: {
			// Support for /index pages
			slug: page.slug.endsWith("index") ? page.slug.replaceAll("index", "") : page.slug
		},
		props: {
			page
		}
	}));
}) satisfies GetStaticPaths;

interface Props {
	page: CollectionEntry<"pages">
}

const { page } = Astro.props;
const { Content } = await page.render();
const pageFileName = Astro.url.pathname === "/" ? "/index" : Astro.url.pathname;

const editUrl = "https://github.com/notangelmario/ciorogarla.eu.org/edit/main/src/content/pages" + pageFileName + ".md";
---

<Layout
	title={page.data.title}
>
	{page.data.cover ?
		<Image
			src={page.data.cover}
			alt={page.data.title}
			class="w-full h-48 md:h-96 object-cover object-center rounded-box mb-4"
		/>
	: null}
	<h1 class="text-5xl font-bold mb-2">
		{page.data.title}
	</h1>
	{page.data.date ?
		<p class="flex flex-row items-center gap-2 text-base-content/50">
			<span class="material-symbols-outlined">
				calendar_month
			</span>
			{page.data.date.toLocaleString("ro-RO", {
				year: "numeric",
				month: "long",
				day: "numeric"
			})}
		</p>
	: null}
	{page.data.underConstruction ?
		<p class="flex flex-row items-center gap-2 text-base-content/50">
			<span class="material-symbols-outlined">
				construction
			</span>
			Aceasta pagina este in constructie.
		</p>
	: null}
	<div class="mt-8 prose lg:prose-lg dark:prose-invert max-w-none prose-img:rounded-box">
		<Content/>
	</div>
	<a class="btn btn-link no-underline hover:no-underline" href={editUrl} target="_blank">
		<span class="material-symbols-outlined">
			edit
		</span>
		<span class="underline">
			Editeaza aceasta pagina pe GitHub.
		</span>
	</a>
</Layout>
